$bgUrl: '../img/m-h-day.jpg';
$logoFont: 'Hind', sans-serif;
$headerTextFont: 'Source Sans Pro', sans-serif;
$logoWidth: 70px;

$colors: (
    bodyBg: white,
    headerColor: #2c2f3c,
    wordBg: #14a0c7,
    buttonBGColor: #699900,
    mainItemBg: #21232e,
    gradColor: #3260c7,
    greyColor: #c3c3c3
)