$bgUrl: '../img/m-h-night.jpg';
$logoFont: 'Fresca', sans-serif;
$headerTextFont: 'Source Sans Pro', sans-serif;
$logoWidth: 55px;

$colors: (
    bodyBg: #21232e,
    headerColor: white,
    wordBg: #ff4e33,
    buttonBGColor: #e3ac00,
    mainItemBg: #3b3f50,
    gradColor: #712849,
    greyColor: #c3c3c3
)